<h1>Edit post</h1>

<% form_for(@post) do |post| %>


  <p>
    <%= post.label :title %><br />
    <%= post.text_field :title %>
  </p>
   <p>
    <%= post.label :body %><br />
    <%= post.text_field :body %>
  </p>
 
  <p>
    <%= post.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>
